#container{
    background-color: rgb(19,16,20);
    width: 1240px;
    margin: auto;
}
#header{
    width: 1240px;
    height: 60px;
    background-color: rgb(44,44,50);
    margin: auto;
    padding-top: 4px;
}
#header .logo{
    width: 402px;
    height: 55px;
    background: url("../img/logo.png");
    background-size: 100%;
    margin-left: 20px;
}
#header .trader_id{
    float: right;
    color: gray;
    font-size: 20px;
    margin-top: -33px;
    margin-right: 36px;
    font-family: DFKai-SB;

}
#header .search{
    float: right;
    margin-right: 210px;
    margin-top: -40px;
}
#header .search input{
    height: 33px;
    width: 210px;
    background-color: #1f1f24;
    border-radius: 7px;
    padding-left: 3px;
    font-size: 16px;
}
.stock{
    width: 36%;
    height: 285px;
    margin-top: 5px;
}
.stock .stock_name{
    width: 100%;
    height: 42px;
    font-size: 18px;
    color: white;
    background-color: rgb(39,39,44);
}
.stock .stock_name .up_more{
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}
.stock .stock_name .rising_list{
    float: left;
    margin-left: 8px;
    margin-top: 12px;
}
.stock .stock_container{
    width: 100%;
    color: #bbbbbb;
}
.stock .stock_container .stock_bar{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #252526;
}
.stock .stock_container .stock_bar2{
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #252526;
}
.stock .stock_container .stock_code{
    width: 42%;
    padding-left: 10px;
    border-right: 1px solid #252526;
}
.stock .stock_container .stock_price{
    width: 23%;
    padding-left: 5px;
    border-right: 1px solid #252526;
}
.stock .stock_container .stock_change{
    width: 23%;
    padding-left: 5px;
    border-right: 1px solid #252526;
}
.stock .stock_container .stock_volume{
    padding-left: 5px;
}